/**
 * Site header
 */
.site-header {
  min-height: $header-unit;
  min-width: 100%;
  background-color: #000;

  // Positioning context for the mobile navigation icon
  position: fixed;
  z-index: 100;
  transition: background-color .5s;

  img {
    height: $spacing-unit;
  }
}
.transparent {
  transition: background-color .5s;
  background-color: transparent;
  border-color: transparent;
}

.buffer {
  min-height: $header-unit;
  min-width: 100%;
  position: relative;
}

.site-title {
  float: left;
  padding-top: ($header-unit - $spacing-unit) / 2;
}

.site-nav {
  display: block;
  float: right;
  line-height: $header-unit;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .header-link {
    color: #fff;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 11px;
    right: $spacing-unit / 2;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: #FFF;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .header-link {
      display: block;
      padding: 5px 10px;
      color: #fff;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $header-unit * .5;
}

.page-heading {
  @include relative-font-size(2.5);
  font-weight: $base-font-heavy;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


.header-img-container {
  height: 60vh;
  width: auto;
  overflow: hidden;
  position: relative;

  .header-img {
    min-width: $on-laptop;
    filter: brightness(50%);
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease-in;
  }

  .active {
    opacity: 1;
    transition: opacity 1.5s;
  }
}

.listen-in {
  font-weight: $base-font-heavy;
  text-decoration: none;
  text-align: center;

  top: 50%;
  position: absolute;
  right: 50%;
  transform: translateX(50%) translateY(-50%);

  > a {
    @include relative-font-size(4.8);
      color: #fff;

    @include media-query($on-palm) {
      @include relative-font-size(2.25);
    }
  }
}

.listen-in-show {
  @include relative-font-size(2.2);
    color: #fff;

  @include media-query($on-laptop) {
    @include relative-font-size(1.7);
  }

  @include media-query($on-palm) {
    @include relative-font-size(1.2);
  }
}

.listen-in:hover { color: #fff; }
.listen-in:visited { color: #fff; }
.listen-in:active { color: #fff; }


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    font-weight: $base-font-heavy;

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.5);
    font-weight: $base-font-heavy;

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    font-weight: $base-font-heavy;

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
