
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="home"> 

      <div class="header-img-container">
        <img class="header-img active" src="/assets/img/header-photo3.jpg" alt="kwur-station3">
        <img class="header-img" src="/assets/img/header-photo1.jpg" alt="kwur-station1">
        <img class="header-img" src="/assets/img/header-photo2.jpg" alt="kwur-station2">
        <div class="listen-in">
          <div class="hero">Student-run St. Louis underground radio</div>
          <a class="listen-in-show" href="/stream/">Listen in</a>
        </div>
        <div class="archive-note">
          <a class="archive-link" href="/archive/">Check out our photo archive!</a>
        </div>
      </div>



      <main class="page-content home" aria-label="Content">
        <div class="wrapper">

          <h1 class="page-heading">Blog</h1>

          <ul class="post-list">
            {% for post in paginator.posts %}
              <li>
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{ post.date | date: date_format }}</span>

                <h2>
                  <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>

            <!-- Pagination links -->
          <div class="pagination">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="previous">Previous </a>
            {% endif %}
            <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="next"> Next</a>
            {% endif %}
          </div>

          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

        </div>
      </main>
    </div>

    {% include footer.html %}

  </body>

</html>

  

  



    


